.footer{
    background-color: black;
    width: 100%;
    margin-top: auto;
    padding: 100px 0 50px;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 150px;
}
.items{
    justify-self: center;

    p{
        color: white;
    }
}
.text{
    width: 100%;
    text-align: center;
    color: white;
}